/*
Practicas Html/CSS/Javascript - Erik Medina
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}
@font-face {
    font-family: ds-digital;
    src: url(../fonts/Ds-Digital.ttf);
    font-display: swap;
}
@font-face {
    font-family: ericsson;
    src: url(../fonts/Ericsson.otf);
    font-display: swap;
}
@font-face {
    font-family: eurostar;
    src: url(../fonts/Eurostarblack.ttf);
    font-display: swap;
}
body {
	display: flex;
    position:relative;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    background: rgb(213,207,172);
    background: radial-gradient(circle, rgba(213,207,172,1) 0%, rgba(191,156,36,1) 100%);
}
.calculadora {
    display:flex;
    flex-direction: column;
    align-items: center;
	position: relative;
	padding: 20px;
    width:300px;
	border-radius: 20px;
    background-image: url("../img/metal-textura.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #cfcfcf; 
    border-left: 5px solid #696768;
    border-right: 5px solid #696768;
    border-top: 2px solid #696768;
    border-bottom: 2px solid #696768;
	box-shadow: 15px 10px 25px 0px #000000b3,inset 0px 60px 8px -50px #646464e6,
    inset 0px -56px 8px -50px #ffffffb3,
    inset 0px -70px 8px -50px #646464cc;
}
.calculadora::before{
    content:"";
    position:absolute;
    width:100%;
    left:0px;
    top:15px;
    height:1px;
    background-color: #ffffff80;
    box-shadow: 0px 0px 5px 2px #ffffffb3;
}
.calculadora::after{
    content:"";
    position:absolute;
    width:100%;
    left:0px;
    bottom:25px;
    height:1px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
}
.logotipo{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin:10px 0px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.logotipo span{
    text-shadow: #ffffff .8px .8px .5px;
}
.marca{
    font-family: eurostar;
    font-size: 14px;
}
.modelo{
    font-weight: bold;
    font-family: serif;
}
.fotocelda{
    width: 100%;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    border: 2px solid #1f1511;
    background-color: #3E2D25;
    border-radius: 3px;
    box-shadow: 1.5px 1.5px 1px .5px #FFFFFF;
}
.fotocelda::before, .fotocelda::after{
    content:'';
    height:100%;
    width:2px;
    background-color: #1f1511;
}
.pantalla{
    background-color: #c2e0e0;
    width:225px;
    height:65px;
    padding:5px 0px;
    margin-bottom:60px;
    border: 5px inset #DFDDDC;
}
.formula, .blink, .contenedorFormula{
    font-family: ericsson;
    font-size: 1.3rem;
    display: inline;
}
.formula{
    overflow: hidden;
    margin-left:.8px;
    white-space: nowrap;
}
.desplazar{
    display: flex;
    justify-content: flex-end;
}
.blink{
    animation: parpadeo 1s linear infinite;
}
@keyframes parpadeo{
    0%{opacity: 1;}
    20%{opacity: 0;}
    70%{opacity:1;}
    100%{opacity: 1;}
    }
.pantalla #resultado{
    --opacityValue: .06;
    font-family: ds-digital;
    font-size: 2rem;
    line-height: 1.8rem;
    height: 28px;
    display: flex;
    position:relative;
    justify-content: flex-end;
}
#resultado::before{
    position:absolute;
    content:"-8.8.8.8.8.8.8.8.8.8";
    opacity: var(--opacityValue);
}
.indicadorIzq, .indicadorDer{
    font-family: ericsson;
    font-size: .9rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.flechaUp, .flechaDown, .flechaRight, .flechaIzq{
    position: absolute;
    opacity:.1;
}
.flechaUp{
    top:-10px;
}
.flechaRight, .flechaIzq{
    bottom:0px;
}
.flechaDown{
    top:-1px;
}

.lineaSup{
    display:grid;
    grid-template-columns: 15px 1fr 15px;
    height:20px;
    grid-gap: 3px;
}
.lineaInf{
    display: grid;
    grid-template-columns: 1fr 30px;
}
.contenedorFormula{
    --opacityValue2:.06;
    position:relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.contenedorFormula::before{
    position:absolute;
    content:"&&&&&&&&&&&&&&";
    left:1px;
    opacity: var(--opacityValue2);
}

.notacionExpo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12px;
    align-items: end;
    padding-left: 4px;
}
.base{
    font-size: 9px;
    font-family: sans-serif;
    opacity:.1;
    padding-bottom: 2px;
    font-weight: bold;
}

.exponente{
    font-size: 14px;
    font-family: ds-digital;
    font-weight: bold;
    height:100%;
    width:100%;
    position: relative;
    padding-right: 4px;
    text-align: right;
    --opacityValue2:.1;
}

.exponente::before{
    content: '-88';
    font-size: 14px;
    position: absolute;
    right: 4px;
    opacity: var(--opacityValue2);
}
.divisor{
    position: absolute;
    top:170px;
    left:0px;
    width:100%;
    height:5px;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
    background-color: #696768;
}

.teclado {
	position: relative;
    font-family: console;
    font-weight: bold;
    margin-bottom:30px;
    display: grid; 
    grid-template-columns: repeat(4,50px); 
    grid-template-rows: repeat(7,35px); 
    gap: 10px 10px; 
    grid-template-areas: 
        "tecla_off direccional direccional tecla_on"
        "abrir_parent direccional direccional cerrar_parent"
        "tecla_ac tecla_c division multiplicacion"
        "tecla_7 tecla_8 tecla_9 suma"
        "tecla_4 tecla_5 tecla_6 resta"
        "tecla_1 tecla_2 tecla_3 igual"
        "tecla_0 punto ans igual";
}
.tecla_off {grid-area: tecla_off;}
.tecla_on {grid-area: tecla_on;}
.direccional {grid-area: direccional;}
.igual { grid-area: igual; }
.ans { grid-area: ans; }
.punto { grid-area: punto; }
.tecla_0 { grid-area: tecla_0; }
.tecla_ac { grid-area: tecla_ac; }
.tecla_c { grid-area: tecla_c; }
.division { grid-area: division; }
.multiplicacion { grid-area: multiplicacion; }
.tecla_7 { grid-area: tecla_7; }
.tecla_8 { grid-area: tecla_8; }
.tecla_9 { grid-area: tecla_9; }
.suma { grid-area: suma; }
.tecla_4 { grid-area: tecla_4; }
.tecla_5 { grid-area: tecla_5; }
.tecla_6 { grid-area: tecla_6; }
.resta { grid-area: resta; }
.tecla_1 { grid-area: tecla_1; }
.tecla_2 { grid-area: tecla_2; }
.tecla_3 { grid-area: tecla_3; }

.teclado > div{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(61, 61, 61);
    border-radius: 5px;
    background-color: #919191;
}

[data-tipo="numero"], [data-tipo="operador"], [data-valor="operar"], [data-valor="reset"], [data-valor="eliminar"],
.tecla_off button, .tecla_on button, .abrir_parent button, .cerrar_parent button {
    display:flex;
    justify-content: center;
    align-items: center;
    width:44px;
    height:29px;
    font-weight: bold;
    font-family: consolas;
    font-size: 1.2rem;
    border:1px solid rgba(14, 14, 14, 0.438);
    border-radius:5px;
    background-color: #a39588;
    box-shadow: inset 3px 3px 3px -2px rgba(255,255,255,0.9), 
                inset -3px -3px 3px -2px rgba(0,0,0,0.9), 
                2px 3px 4px -1px rgba(0,0,0,0.7);
    text-shadow: #ffffff .8px .8px 1px;
    cursor: pointer;
}
[data-valor="operar"]{
    height:73px;
    background-color:#7c6b5c;
}
[data-valor="reset"], [data-valor="eliminar"]{
    background-color: #cb4718;
    text-shadow: #ffffffb6 .5px .5px 1px;
}


[data-tipo="numero"]:active, [data-tipo="operador"]:active, [data-valor="operar"]:active, [data-valor="reset"]:active, [data-valor="eliminar"]:active,
.tecla_off button:active, .tecla_on button:active, .abrir_parent button:active, .cerrar_parent button:active{
    box-shadow: inset 3px 3px 3px -2px rgba(34, 34, 34, 0.9),
    inset -3px -3px 3px -2px rgba(34,34,34,0.9)!important;
}
.direccional{
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%!important;
    position:relative;
}

.flechas{
    width:96px;
    height:72px;
    font-family: ericsson;
    font-size: 20px;
    border:1px solid rgba(14, 14, 14, 0.438);
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%!important;
    background-color: #A39588!important;
    box-shadow: inset 3px 3px 3px -3px rgba(255,255,255,0.9), 
                inset -3px -3px 3px -2px rgba(0,0,0,0.9), 
                2px 3px 4px -1px rgba(0,0,0,0.7);
    display:grid!important;
    grid-template-columns: 32px 31px 30px;
    grid-template-rows: 18px 22px 31px;
    align-items: end;
}
.rightPress{
    box-shadow: inset 7px 1px 3px -3px rgba(255,255,255,0.9), 
                inset -4px 1px 10px 0px rgba(0,0,0,0.4)!important
}
.leftPress{
    box-shadow: inset -6px -1px 3px -3px rgba(255,255,255,0.9), 
                inset 4px 1px 10px 0px rgba(0,0,0,0.4),
                2px 3px 4px -1px rgba(0,0,0,0.7)!important;
}
.highPress{
    box-shadow: inset 0px -7px 7px -3px rgba(255,255,255,0.9),
                inset 0px 3px 11px -1px rgba(0,0,0,0.4),
                2px 3px 4px -1px rgba(0,0,0,0.7)!important;
}
.lowPress{
    box-shadow: inset 0px 7px 7px -3px rgba(255,255,255,0.9),
                inset 0px -21px 20px -5px rgba(0,0,0,0.4)!important;
}
.navUp{ grid-area: 1 / 2 / 2 / 3; }
.navDown{ grid-area: 3 / 2 / 4 / 3; }
.navLeft{ grid-area: 2 / 1 / 3 / 2; }
.navRight{ grid-area: 2 / 3 / 3 / 4; }

.navDown, .navUp, .navLeft, .navRight{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-shadow: #ffffff 0.8px 0.8px 1px;
}
.credito{
    position:absolute;
    bottom:5px;
    left:5px;
    color: #000;
    font-size: 11px;
}
.mostrar{
    opacity:1;
}
.ocultar{
    opacity:0;
}